.MissionClass {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  width: 85vw;
  height: fit-content;
}
.NameClass {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  margin-bottom: -2.3rem;
  margin-top: 0;
}
.nav2 {
  width: max-content;
}
.TipsClass {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}
